# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Env/IDE
.env
.vscode/
.idea/
.DS_Store
